!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Yuki.bizz Portfolio
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{content: "yuki oikawa's portfolio suite", :name => "description"}/
    = favicon_link_tag 'すたばロゴ.jpg', rel: 'icon', type: 'image/png'
  %body
    = yield
